@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  margin: 0;
}

.main {
    width: 100%;
    min-height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    pointer-events: none;
    @apply bg-gray-100;
}

.section-thing{
  @apply before:bg-[url('/assets/images/subtle-prism.svg')] before:opacity-[30%] before:-z-10 before:absolute before:bg-no-repeat before:top-0 before:bg-center before:size-full;
}

input[type="number"], input[type="text"], select{
  @apply w-full h-[35px] bg-gray-300 focus:outline-none border border-[#ffffff0a] rounded-[4px] p-[7px] text-[14px] placeholder:text-color-secondary;
}

input:focus, select {
  outline: none;
}

input:hover {
  background-color: rgb(66, 66, 66);
  border-color: rgba(255, 255, 255, 0.1);
}

input:disabled {
  cursor: not-allowed;
}

select:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

input[type="color"]{
  background: rgba(255, 255, 255, 0);
  height: auto;
  padding: 7px;
  width: 32px;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 4px;
  border: 1px solid #ffffff48;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  width: 16px;
  height: 16px;
  padding: 0;
}

.color-picker{
  @apply w-full h-[35px] bg-gray-300 focus:outline-none border border-[#ffffff0a] rounded-[4px] pr-0 text-[14px] placeholder:text-color-secondary flex gap-[1px];
}

.color-picker-input{
  @apply !bg-transparent border-none !p-0 !size-full
}

.default-button{
  @apply !h-[35px] !leading-[12px] !w-10 !ml-1 !rounded-[4px] !px-0 !text-[16px] after:inline-block after:bg-[url('/assets/icons/history.svg')] after:size-[16px] after:mt-[-2px] after:bg-cover
}

.setting-label{
  font-size: 14px;
}

#level-pic {
  height: 30px;
  width: 30px;
  -webkit-user-drag: none;
}
#elo {
  color: white;
  font-family: Play, sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-height: 0;
  width: max-content;
  text-align: center;
}

#wrap {
  box-sizing: content-box;
  background: #1f1f22;
  height: 35px;
  width: max-content;
  border-radius: 24px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3px;
  padding-left: 3px;
  padding-right: 10px;
  max-width: 90px;
  min-width: auto;
}

.content {
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.widget-editor-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  padding: 20px;
  gap: 20px;
}

.heading {
  text-align: left;
  font-weight: 700;
}

.editor {
  background-color: rgb(31, 31, 31);
  border: 1px solid rgb(48, 48, 48);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 800px;
  transition-property: width;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}


.widget-editor {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0fr);
  row-gap: 10px;
  column-gap: 10px;
  margin: 5px;
}

.widget-preview {
  z-index: 1;
  position: relative;
  padding: 10px;
  border-left: 1px solid rgb(48, 48, 48);
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  overflow: hidden;
}

#status {
  background-color: rgb(48, 48, 48);
  margin-left: 10px;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 24px;
  font-weight: 700;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

@media screen and (max-width: 860px) {
  .editor{
    flex-direction: column;
    width: 600px;
  }
  .widget-preview{
    height: 200px;
  }
}

@media screen and (max-width: 720px) {
  .editor{
    flex-direction: column;
    width: 500px;
  }
}

@media screen and (max-width: 640px) {
  .editor{
    flex-direction: column;
    width: 400px;
  }
}

.app {
    font-family: play;
    @apply relative z-10 flex items-center flex-col max-w-full h-full px-0 text-color-primary;
}